.step {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 1rem 0;
    text-align: center;
}

.step-item {
    border: 1px solid var(--bs-primary-border-subtle);
    flex-grow: 1;
    background-color: var(--bs-primary);
    padding: 0.5rem;
    color: var(--bs-white);

    margin-left: 2px;
    margin-right: 2px;

    display: block;

    counter-increment: step;
}

.step-item:before {
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #fff;
    padding: 4px 10px;
    content: counter(step);
}

.step-item:first-child {
    margin-left: 0px;
    counter-reset: step;
}

.step-item:last-child {
    margin-right: 0px;
}

.step-item a {
    color: var(--bs-white);
    text-decoration: none;
}

.step-item.active {
    background-color: var(--bs-primary);
}

.step-item.active ~ .step-item {
    background-color: var(--bs-white);
    color: var(--bs-black);
}

.step-item.active ~ .step-item:before {
    border-color: #000;
}

.step-item.active ~ .step-item a {
    color: var(--bs-black);
}
