<?php
$config = [
    'theme' => '',
    'header_link' => '',
    'footer_link' => '',
    'mail' => [
        'host' => '127.0.0.1',
        'port' => '25',
        'scheme' => 'tls', // tls, ssl, null
        'user' => '',
        'pass' => '',
        'from' => 'from@example.com'
    ]
];
