<?php
$config = [
    'theme' => '',
    'instance' => '',
    'header_link' => '',
    'footer_link' => '',
    'login_link' => '',
    'mail' => [
        'host' => '127.0.0.1',
        'port' => '25',
        'scheme' => 'tls', // tls, ssl, null
        'user' => '',
        'pass' => '',
        'from' => 'from@example.com',
        'admin' => 'admin@plateforme.net',
        'debugAddress' => 'logs@super.dev'
    ],
    'session' => [
        'name' => 'symfony',
        "admin_key" => "symfony/user/sfUser/credentials",
        "admin_value" => "admin",
        "user_id" => 'etablissement_id'
        "user_id_test" => ''
    ]
];
